body, jumbotron{padding : 30px;}
body{
    background: #efdad4;
}
.content {
    background: #FFF;
    padding : 50px;
    line-height: 1.5;
    min-height: 3000px;

}
.scroll-line {
    position : fixed;
    top : 0;
    left : 0;
    height : 8px;
    background: #1CE;
    transition : 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) width;

}